<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=<%-flower.img%> alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">
            <%-flower.name%>
        </h5>
        <p class="card-text">Price
            <%-flower.price%>
        </p>
    </div>

    <div class="card-body ">
        <div style="flex:1;"><a class="nav-link dropdown-toggle" href="#" id=<%- "dropDownMenu"+flower.ID%> data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Colors
            </a>
            <div class="dropdown-menu" aria-labelledby=<%- "dropDownMenu"+flower.ID%>>
                <% flower.color.forEach(color=>{ %>
                    <a class="dropdown-item" onclick="$('#'+$(this).parent().attr('aria-labelledby')).text($(this).text());">
                        <%-color%>
                    </a>
                    <% }); %>

            </div>
            Amount:<input id=<%- "quantity" + flower.ID%> class="form-control" type="number" value="1" min='1'>
            <button class="btn btn-warning add-flwr-btn" id=<%- "addBtn" + flower.ID%>>Add to Cart</button>

        </div>



    </div>
</div>